<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello_example">

    <application>
        <service
            android:name="com.example.hello.MyTileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
